<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: head(_)}">
</head>
<body>
<div class="social-login text-center">
  <div class="row">
    <a th:href="@{/api/oauth/google}">
      <span>Sign in with Google</span>
    </a>
  </div>
  <div class="row">
    <a th:href="@{/api/oauth/naver}">
      <span>Sign in with Naver</span>
    </a>
  </div>
  <div class="row">
    <a th:href="@{/oauth2/authorization/myOAuth}">
      <span>Sign in with myOAuth</span>
    </a>
  </div>
</div>
</body>
</html>