<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head(links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <th:block th:replace="${links}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Board</a>

        <div>
            <button class="btn btn-outline-success" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/login}'|">로그인</button>
            <button class="btn btn-outline-danger" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
        </div>
    </div>
</nav>


</body>
</html>